:root{
  --primary-color: #a3cbf091; 
  --secondary-color: #499fb9; 
  --accent1-color: #264653; 
  --accent2-color: #0d1214; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  background-color:rgb(241, 241, 239);
  color: var(--accent2-color);
}

main, footer {
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: rgb(62, 59, 194);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero h1{
  position: absolute;
}

.hero article img {
  float: right;
  width: 80px;
  border: 1px solid var(--accent1-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}


h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 1px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #e4dede;
}

 .hero article {
  position: absolute;
  top: 50%;
  background-color: #d5e2e6;
  opacity: 0.9;
  color: rgb(55, 55, 173);
  width: 95%;
  bottom: 2%;
  flex-direction: row-reverse;
  align-items: center;
}

p{
  position: relative; 
  
}
nav{
  display: grid;
}

.socialmedia {
  display: flex;
  gap: 10px;
}
.footer-text {
  text-align: left;
  padding: 1px;
}
h2{
  background-color: var(--secondary-color);
  text-align: center;
  color: rgb(138, 69, 69);
}