:root{
  --primary-color: rgba(236, 118, 49, 0.569); 
  --secondary-color: rgb(73, 159, 185); 
  --accent1-color: rgb(38, 70, 83); 
  --accent2-color: rgb(13, 18, 20); 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header {
  background-color:rgb(243, 243, 236);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 120px  1fr;
  align-items: center;
}
.navigation {
  display: flex;
  list-style-type: none;
  border: 1px solid var(--accent1-color);
  text-align: center;
}
.navigation li {
  flex: 1 1 auto;
  border-left: 1px solid var(--accent1-color);
}
.history{
  display: grid;
  text-align: center;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
}
.left-part{
  grid-column: 1;
  margin: 0;
  line-height: 1.6;
  text-align: left;
}
.history img{
  grid-column: 2;
  grid-row: 1;
}
.right-part{
  grid-column: 3;
  margin: 0;
  line-height: 1.6;
  text-align: right;
  padding: 10px;
}
.group-photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
main, footer {
  width: 100%;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero h1{
  position: absolute;
}

.hero article img {
  float: right;
  width: 80px;
  border: 1px solid var(--accent1-color);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}


h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 1px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #e4dede;
}

 .hero article {
  position: absolute;
  top: 50%;
  background-color: rgb(230, 239, 241);
  opacity: 0.9;
  color: rgb(55, 55, 173);
  width: 95%;
  bottom: 2%;
  flex-direction: row-reverse;
  align-items: center;
}

p{
  position: relative; 
  
}
nav{
  display: grid;
}
footer{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}
.socialmedia{
  display: flex;
  gap: 10px;
}

h2{
  background-color: var(--secondary-color);
  text-align: center;
  color: rgb(14, 13, 13);
}