body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem;
}

.flex-container {
    border: 3px dashed darkcyan;
    background-color: rgb(221, 221, 169);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    width: 250px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 20);
    padding: 0.5rem;
    background-color: #8fa74d;
    color: #333;
}

.item1 {
    min-height: 100px;
}

.item2 {
    min-height: 200px;
}

.item3 {
    min-height: 300px;
}