* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: rgb(29, 182, 29);
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    background-color: rgb(22, 167, 167);
    display: grid;
    place-items: center;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.two {
    background-color: #ace;
    height: 100px;
}

.container3 {
display:grid;
grid-template-columns: repeat( 3, 1fr );

}

.columns-3 {
    display: grid;
    grid-column: span 3;

}

.three {
    margin: .25rem;
    background-color: #abd;
}