:root{
    --darkblue: darkblue;
    --border: 1px solid black;
    --text-align: center;
}
main{
    max-width: 840px;
}
nav{
    background-color: var(--darkblue);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;

}
h1 {
    color: var(--darkblue);
}
img{
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow:0 0 30px #333;
}
main img{
     width: 150px;
    height: auto;
    padding: 0px;
    border: 0;
    box-shadow:  0 0 30px;
}
p{ padding: 0;}

aside{
      width: 20rem;
      margin: 1rem;
      border: var(--border);
      padding: 1rem;
      background-color: #eee;
      color: #333;
      text-align: var(--text-align);
}
aside img{
    width: 200px;
    height: auto;}
footer{
       margin-top: 15px;
       border-top: var(--border);
       text-align: var(--text-align);
}